<%-include("partials/header.ejs")%>
<div id="spirits">
  <% data.forEach(cocktail => { %>

  <div class="spirit-card">
    <a href="/search-cocktail/<%= encodeURIComponent(cocktail.strDrink) %>">
      <div id="spirit-flex">
        <div id="spirit-container">
          <img id="img-spirit" src="<%= cocktail.strDrinkThumb %>/preview" />
        </div>
        <div id="spirit-info">
          <h2><%= cocktail.strDrink %></h2>
        </div>
      </div>
    </a>
  </div>

  <% }) %>
</div>
<%if (locals.error) {%>
<div class="cocktail-card error">
  <p><%= error %></p>
</div>
<%}%> <%-include("partials/footer.ejs")%>
